app/index.jade
html
    head
        link(rel='stylesheet', href='js/b/bootstrap/dist/css/bootstrap.css')
        script(src="js/b/jquery/dist/jquery.min.js")
        script(src="js/b/bootstrap/dist/js/bootstrap.js")
        script(src="js/bundle.js")
        title Currency Convertor
    body
        .container
            .row
                .col-md-12
                    
            .row
                .col-md-3
                .col-md-6
                    .panel.panel-default
                        .panel-heading
                            h3 Currency Convertor
                        .panel-body
                            .row
                                .col-md-5
                                    .form-group
                                        input.in.form-control(type="text", placeholder="Amount")
                                .col-md-3
                                    .form-group
                                        select.in-currency.form-control
                                .col-md-1
                                    span.lead  to 
                                .col-md-3
                                    .form-group
                                        select.out-currency.form-control
                            .form-group
                                .btn.btn-primary.btn-block.submit Convert
            .row
                .col-md-3
                .col-md-2
                    
            .row
                .col-md-4
                .col-md-5
                    h2.out!= "= ..."
                    h3.out-rate!= ""

build/index.html
<html><head><link rel="stylesheet" href="js/b/bootstrap/dist/css/bootstrap.css"/><script src="js/b/jquery/dist/jquery.min.js"></script><script src="js/b/bootstrap/dist/js/bootstrap.js"></script><script src="js/bundle.js"></script><title>Currency Convertor</title></head><body><div class="container"><div class="row"><div class="col-md-12"></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-6"><div class="panel panel-default"><div class="panel-heading"><h3>Currency Convertor</h3></div><div class="panel-body"><div class="row"><div class="col-md-5"><div class="form-group"><input type="text" placeholder="Amount" class="in form-control"/></div></div><div class="col-md-3"><div class="form-group"><select class="in-currency form-control"></select></div></div><div class="col-md-1"><span class="lead"> to </span></div><div class="col-md-3"><div class="form-group"><select class="out-currency form-control"></select></div></div></div><div class="form-group"><div class="btn btn-primary btn-block submit">Convert</div></div></div></div></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-2"></div></div><div class="row"><div class="col-md-4"></div><div class="col-md-5"><h2 class="out">= ...</h2><h3 class="out-rate"></h3></div></div></div></body></html>
